.trendingBox-container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 75vh;
    width: 350px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.title{
    justify-items: center;
    font-weight: bold;
    margin: 5px 0 0 0;
}
.title-place{
    margin: 20px 0 20px 10px;
    padding-left: 10px;
    font-weight: bold;
    text-align: start;
}

.trending-list{
    overflow-x: hidden;
    overflow-y: scroll;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}

h6{
    margin:0;
    font-weight: lighter;
}

.trends{
    border-bottom: 1px solid rgb(82, 82, 82);
    font-size: 18px;
    margin: 0 ;
    padding: 10px 20px 10px 20px ;
    text-align: start;
}

.bottom-box{
    height: 100px;
}
.disclamer{
    font-size: 13px;
    padding: 5px;
}
.twit-name{
    font-weight: 500;
}
@media only screen and (max-width: 470px) {
    .trendingBox-container{
        height: 50vh;
        width: 50vw;
    }
}